:root {
  --note-color: #00DDDD;
  --note-color-dark: #008888;
  --playline-color: #FF0000;
  --pianoroll-background-color: #EEEEEE;
  --line-color-cell: #CCCCCC;
  --line-color-beat: #AAAAAA;
  --line-color-bar: #777777;
  
  --background-color: #BBBBBB;
  --section-background-color: #777777;
  --text-color: white;
  --control-background-color: #EEEEEE;
  --control-text-color: black;
}

body {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: white;
}

#openhelp, #repolink {
  position: fixed;
  width: 32px;
  height: 32px;
  font-size: 32px;
  margin: 0;
  cursor: pointer;
}

#openhelp {
  left: 1rem;
  top: 1rem;
  border-radius: 32px;
  border: solid white 2px;
  text-align: center;
}

#repolink {
  right: 1rem;
  top: 1rem;
}

#help {
  position: fixed;
  top: 2rem;
  left: 2rem;
}

#help > button#closehelp {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
}

#controls {
  text-align: center;
}

#controls > section {
  margin-top: 1rem;
}

#controls > h1 {
  margin: 0;
}

#timecontainer {
  display: inline-grid;
  width: 2rem;
  grid-template-rows: repeat(2, auto);
}

#timecontainer > * {
  width: 2rem;
}

main {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 1rem;
  justify-items: center;
}

main > *, #help {
  display:inline-block;
  border: solid 0.5rem var(--section-background-color);
  background-color: var(--section-background-color);
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--control-background-color);
  color: var(--control-text-color);
  padding: 0.5rem;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  filter: brightness(90%);
}

input {
  border: none;
  background-color: var(--control-background-color);
  color: var(--control-text-color);
  padding: 0.25rem;
}

label {
  margin-right: 0.25rem;
}

#bpm {
  width: 3rem;
}
